<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- boostrap -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <!-- md5.js -->
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        秒杀商品详情
    </div>
    <div class="panel-body">
        <table class="table" id="goodslist">
            <tr>
                <td>商品名称</td>
                <td colspan="3" th:text="${goods.goodsName}"></td>
            </tr>
            <tr>
                <td>商品图片</td>
                <td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200"/></td>
            </tr>
            <tr>
                <td>秒杀开始时间</td>
                <td th:text="${#dates.format(goods.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td id="miaoshaTip">
                    <input type="hidden" id="remainSeconds" th:value="${remainSeconds}"/>
                    <span th:if="${miaoshaStatus eq 0}">秒杀倒计时<span id="countDown"
                                                                   th:text="${remainSeconds}"></span>秒</span>
                    <span th:if="${miaoshaStatus eq 1}">秒杀进行中</span>
                    <span th:if="${miaoshaStatus eq 2}">秒杀已结束</span>
                </td>
                <td>
                    <div class="row">
                        <div class="form-inline">
                            <img id="verifyCodeImg" width="80" height="32" style="display:none;" onclick="refreshVerifyCode()"/>
                            <input id="verifyCode" class="form-control" value="" style="display:none;"/>
                            <button class="btn btn-primary" id="buyButton">立即秒杀</button>
                        </div>
                    </div>
                    <input type="hidden" name="goodsId" id="goodsId" th:value="${goods.id}"/>
                    <!--<form id="miaoshaForm" method="POST" action="/miaosha/do_miaosha">-->
                    <!--<button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>-->
                    <!--<input type="hidden" name="goodsId" th:value="${goods.id}"/>-->
                    <!--</form>-->
                </td>
            </tr>
            <tr>
                <td>秒杀价</td>
                <td colspan="3" th:text="${goods.miaoshaPrice}"></td>
            </tr>
            <tr>
                <td>原价</td>
                <td colspan="3" th:text="${goods.goodsPrice}"></td>
            </tr>
            <tr>
                <td>库存</td>
                <td colspan="3" th:text="${goods.stockCount}"></td>
            </tr>
        </table>

    </div>
</div>
</body>
<script>
    $(function () {
        countDown();
        $("#buyButton").click(function () {
            getMiaoshaPath();
        });
    });
    function countDown() {
        var remainSeconds = $("#remainSeconds").val();
        var timeout;
        if (remainSeconds > 0) {
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function () {
                $("#remainSeconds").val(remainSeconds - 1);
                $("#countDown").text(remainSeconds - 1);
                countDown();
            }, 1000);
        } else if (remainSeconds == 0) {
            $("#buyButton").attr("disabled", false);
            if (timeout) {
                clearTimeout(timeout);
            }
            $("#miaoshaTip").html("秒杀进行中!");
            $("#verifyCodeImg").attr("src", "/miaosha/verifyCode?goodsId=" + $("#goodsId").val());
            $("#verifyCodeImg").show();
            $("#verifyCode").show();
        } else {
            $("#buyButton").attr("disabled", true);
            $("#miaoshaTip").html("秒杀已结束!");
            $("#verifyCodeImg").hide();
            $("#verifyCode").hide();
        }
    }

    function doMiaosha(path) {
        $.ajax({
            url: "/miaosha/" + path + "/do_miaosha",
            type: "POST",
            data: {
                goodsId: $("#goodsId").val(),
            },
            success: function (data) {
                if (data.code == 0) {
                    getMiaoshaResult($("#goodsId").val());
                } else {
                    layer.msg(data.msg);
                    refreshVerifyCode();
                }
            },
            error: function () {
                layer.msg("请求错误");
                refreshVerifyCode();
            }
        });
    }

    function getMiaoshaPath() {
        $.ajax({
            url: "/miaosha/path",
            type: "GET",
            data: {
                goodsId: $("#goodsId").val(),
                verifyCode: $("#verifyCode").val()
            },
            success: function (data) {
                if (data.code == 0) {
                    doMiaosha(data.data);
                } else {
                    layer.msg(data.msg);
                    refreshVerifyCode();
                }
            },
            error: function () {
                layer.msg("客户端请求有误！");
                refreshVerifyCode();
            }
        });
    }

    function getMiaoshaResult(goodsId) {
        $.ajax({
            url: "/miaosha/result",
            type: "GET",
            data: {
                goodsId: goodsId
            },
            success: function (data) {
                if (data.code == 0) {
                    var result = data.data;
                    if (result < 0) {
                        layer.msg("对不起，秒杀失败");
                    } else if (result == 0) {
                        setTimeout(function () {
                            getMiaoshaResult(goodsId);
                        }, 200);
                    } else {
                        layer.confirm("恭喜你，秒杀成功，查看订单？", {btn: ["确定", "取消"]}, function () {
                            window.location.href = "/goods/to_order?orderId=" + result;
                        }, function () {
                            layer.closeAll();
                        })
                    }
                }
            },
            error: function () {
                layer.msg("客户端请求有误！");
            }
        });
    }

    function refreshVerifyCode() {
        $("#verifyCodeImg").attr("src", "/miaosha/verifyCode?goodsId=" + $("#goodsId").val() + "&timestamp=" + new Date().getTime());
    }
</script>
</html>